# Ignore datasets files
project/datasets/

# Ignore Python-related files and directories
*.pyc
*.pyo
*.pyd
*.egg-info
build/
dist/
**/__pycache__/

# Ignore prototyping directory
project/prototyping/

# Ignore trained model directory
project/models/trained_model/

# Ignore IDE-specific files and directories
.vscode/